section.hero 
    .hero__container.container
        .hero__title Реплики картин от <span class="hero__title-slice">Ink.&nbsp;House</span>
        .hero__caption Высокое качество отрисовки на плотной бумаге или льняном холсте. Редкие произведения, доступные цены.
        a.hero__link.button-1(tabindex="0") Продукция