doctype html
html(lang="ru")
    head 
        include html/head
        title Ink. House
    body
        .content-wrapper
            include html/header 
            main.main
                include html/hero
            include html/footer 
        script(src='js/app.min.js')

