section.about 
    .about__container.container 
        h2.about__title.title Наша команда
        p.about__caption.caption Значимость этих проблем настолько очевидна, что базовый вектор развития позволяет оценить значение экспериментов, поражающих по своей масштабности и грандиозности. Мы вынуждены отталкиваться от того, что консультация с широким активом.
        .about__authors-group 
            .about__authors-group-photo 
                img(src="@img/author-1.png" alt="Фото художника" width="80" height="80")
            .about__authors-group-photo 
                img(src="@img/author-2.png" alt="Фото 1 менеджера" width="80" height="80")
            .about__authors-group-photo 
                img(src="@img/author-3.png" alt="Фото 2 менеджера" width="80" height="80")